flows/Assign_ClientId_and_Name_to_Task_On_Insert_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_clientId_and_name_from_contact_to_task</name>
        <label>Assign clientId and name from contact to task</label>
        <locationX>163</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>$Record.TelosTouchSF__TT_Client_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.TT_Client_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TelosTouchSF__TT_Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_clientId_and_name_from_lead_to_task</name>
        <label>Assign clientId and name from lead to task</label>
        <locationX>939</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>$Record.TelosTouchSF__TT_Client_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.TT_Client_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TelosTouchSF__TT_Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_empty_string_to_null_fields</name>
        <label>Assign empty string to null fields</label>
        <locationX>1057</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>$Record.TelosTouchSF__TT_Client_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TelosTouchSF__TT_Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_WhoId</name>
        <label>Check WhoId</label>
        <locationX>573</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_WhoId_is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>If WhoId is Contact</label>
        </rules>
        <rules>
            <name>If_WhoId_is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_lead</targetReference>
            </connector>
            <label>If WhoId is Lead</label>
        </rules>
        <rules>
            <name>If_WhoId_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_string_to_null_fields</targetReference>
            </connector>
            <label>If WhoId is null</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Assign ClientId and Name to Task On Insert and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign ClientId and Name to Task On Insert and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>335</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_clientId_and_name_from_contact_to_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>702</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_clientId_and_name_from_lead_to_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>53</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_WhoId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsRecurrence</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
